.Header {
  max-width: 1110px;
  margin: 0 auto 25px auto;
  position: relative;
}

.row {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin: 20px 0 35px 0;
}

.Logo {
  display: flex;
  align-items: center;
  border-radius: 10px;
  background-color: rgba(255,255,255,0.3);
  width: 340px;
  height: 45px;
}

.Logo__titulo {
  font-size: 2.5rem;
  font-weight: bold;
}

.Sacola {
  position: relative;
}

.Sacola__icone {
  cursor: pointer;
}