@import url('https://fonts.googleapis.com/css2?family=Exo:wght@300;400;600;700&display=swap');

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  box-sizing: border-box;
  overflow: auto;
  background-color: rgb(53, 139, 190);
  font-family: 'Exo', sans-serif;
}